.inputContainer {
    position: absolute;
    width: 40%;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
  }
  
  @media (max-width: 768px) {
    .inputContainer {
      width: 80%;
      min-width: unset;
      top : 500px
    }
  }

.dictation-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 80%;
    max-width: 600px;
    height: 150px;
    background-color: #f0f8ff;
    padding: 24px;
    box-sizing: border-box;
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }

  .dictation-box:focus-within {
    transform: translate(-50%, 0);
  }

/* Ajouter vos styles globaux ici */
@media (max-width: 1024px) or (max-height: 1024px) {
  .responsive-position {
    top: initial !important;
    left: initial !important;
    width: 200px
    /* Vous pouvez également choisir de centrer l'élément différemment ou ajuster selon vos besoins */
  }
}