ul li {
  list-style-type: disc;
}

.info-bulle {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
  word-wrap: break-word;
  /* Empêche le débordement de texte dans les info-bulles */
}

/* Helper.css */
.helper-bubble {
  position: relative;
  background-color: #e0f7fa;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.helper-bubble::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e0f7fa;
}

.helper-bubble h3 {
  color: #007c91;
  /* Couleur pour le titre pour le faire ressortir */
  font-size: 1.1rem;
  /* Taille spécifique pour le titre */
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.helper-bubble ul {
  padding-left: 1rem;
  /* Espacement pour les puces */
  margin-top: 0.5rem;
  text-align: left;
}

.helper-bubble li {
  margin-bottom: 0.4rem;
  /* Espacement entre les éléments de liste */
}

/* Animation douce pour l'apparition de la bulle */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.helper-bubble {
  animation: fadeIn 0.5s ease-in-out;
}