.score-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .current-score,
  .best-score,
  .top-scores {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .current-score h2,
  .best-score h2,
  .top-scores h2 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .current-score p,
  .best-score p {
    color: #666666;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  
  .correct-words {
    color: #28a745;
    font-weight: bold;
  }
  
  .incorrect-words {
    color: #dc3545;
    font-weight: bold;
  }
  
  .top-scores {
    max-width: none;
    width: auto;
  }
  
  .top-scores table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
  }
  
  .top-scores th,
  .top-scores td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  .top-scores th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .top-scores tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .top-scores td:last-child {
    text-align: left; /* Alignement à gauche */
    font-weight: bold;
    color: #007bff;
  }